:root {
 
  background-color: rgba(0, 149, 255, 0.5);  
  background: linear-gradient(rgba(4, 7, 6, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/icon/inicio.jpg") top center;
  background-size: cover;
  background-position: center;
  height: 300px;  
  
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: var(--text);
  background: var(--background);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  width: 8px; /* Ajusta el grosor según tu preferencia */
}



.form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  h1 {
    margin-bottom: 30px;
  }

  &__container {
    width: 100%;
    max-width: 400px;
  }

  hr {
    margin: 30px 0;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }

  .mdc-button {
    width: 100%;
  }

  .small-text {
    font-size: 14px;
    display: block;
    text-align: center;

    &.providers {
      margin-bottom: 30px;
    }

    &.log-in-redirect {
      margin-top: 30px;

      a {
        color: var(--green);
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

